<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Login Bracu Tutors</title>
</head>
<body>
    <div class="login-box">
        <div class="login-header">
            <header>Admin Login</header>
        </div>


        <form method="POST" action="/adminlogin">
            <div class="input-box">
                <label for="email">Email</label>
                <input type="text" class="input-field" name="email" id="email" placeholder="Email" autocomplete="off" required>
            </div>

            <div class="input-box">
                <label for="password">Password</label>
                <input type="password" class="input-field" name="password" id="password" placeholder="Password" autocomplete="off" required>
            </div>

            <div class="forgot">
                <section>
                    <input type="checkbox" id="check" name="remember_me">
                    <label for="check">Remember Me</label>
                </section>
                <section>
                    <a href="#">Forgot Password</a>
                </section>
            </div>  

            <div class="input-submit">
                <button class="submit-btn" type="submit" id="submit"></button>
                <label for="submit">Sign In</label>
            </div>

            <div class="sign-up-link">
                <p>Don't have an account? <a href="/register">Register</a></p>
            </div>
        </form>
    </div>    
</body>
</html>
